{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@contexts": "./src/contexts",
          "@services": "./src/services"
        }
      }
    ]
  ]
}
